<div class="page-container">
  <div class="card form-card">
    <h2>{{ isEditMode ? "Sửa khóa học" : "Tạo khóa học mới" }}</h2>

    <div class="tabs" *ngIf="isEditMode">
      <button
        type="button"
        [class.active]="activeTab === 'info'"
        (click)="activeTab = 'info'"
      >
        Thông tin
      </button>
      <button
        type="button"
        [class.active]="activeTab === 'lessons'"
        (click)="activeTab = 'lessons'"
      >
        Bài học
      </button>
    </div>

    <form
      *ngIf="activeTab === 'info'"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-field">
        <label>Tiêu đề</label>
        <input
          type="text"
          formControlName="title"
          placeholder="VD: Nhập môn Angular"
        />
      </div>

      <div class="form-field">
        <label>Mô tả</label>
        <textarea
          formControlName="description"
          rows="5"
          placeholder="Mô tả ngắn về khóa học..."
        ></textarea>
      </div>

      <div class="form-field" *ngIf="isEditMode">
        <label>Ảnh đại diện</label>

        <div
          class="thumbnail-preview"
          *ngIf="previewUrl || currentThumbnailUrl"
        >
          <img
            [src]="previewUrl || (currentThumbnailUrl | apiImage)"
            alt="Ảnh đại diện khóa học"
          />
        </div>

        <input
          type="file"
          accept="image/jpeg,image/png,image/webp"
          (change)="onFileSelected($event)"
        />

        <p *ngIf="thumbnailError" class="error-message">{{ thumbnailError }}</p>

        <button
          type="button"
          class="btn-secondary"
          *ngIf="selectedFile"
          [disabled]="uploadingThumbnail"
          (click)="onUploadThumbnail()"
        >
          {{ uploadingThumbnail ? "Đang tải lên..." : "Tải ảnh lên" }}
        </button>
      </div>
      <div class="form-field" *ngIf="isEditMode">
        <label>Trạng thái</label>
        <select formControlName="status">
          <option value="Draft">Draft</option>
          <option value="Published">Published</option>
          <option value="Archived">Archived</option>
        </select>
      </div>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <div class="form-actions">
        <button type="submit" class="btn-primary" [disabled]="form.invalid">
          {{ isEditMode ? "Lưu thay đổi" : "Tạo khóa học" }}
        </button>
        <a routerLink="/courses" class="btn-secondary">Hủy</a>
      </div>
    </form>

    <app-lesson-manager
      *ngIf="isEditMode && activeTab === 'lessons'"
      [courseId]="courseId!"
    ></app-lesson-manager>
  </div>
</div>
